<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form role="form" enctype="multipart/form-data" action="/addFile"  method="POST">
                <input name="file" accept=".csv" type="file" id="myFile">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>

